body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  margin:0
  padding:0
  border:none
  font-family:arial;
  font-size:12px;
  text-align: center;
  margin-left:100px;
  margin-right:100px;
}

.header {
  /* width:980px; */
  /* height:38px; */
  text-align: right;
  border-bottom:1px solid black;
}

.header ul{
  height:auto;
  padding:8px 0px;
  margin:0px;
}
.header li{
  display:inline;
  padding: 20px;
}

.footer{
  clear:both;
}

